.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.content {
	margin: 104px 0px 30px;
}

.page_coordinator {
	font-family: 'Georama', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #9d9d9d;
	margin-bottom: 50px;

	span {
		color: #0b0b0b;
	}
}

.auth {
	&_block {
		display: flex;
		gap: 2%;
	}

	&_title {
		font-family: 'Russo One';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 20px;
		color: #0b0b0b;
	}

	&_form {
		font-family: 'Georama', sans-serif;
		display: flex;
		flex-direction: column;
		// max-width: 390px;
	}

	&_field {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		width: 350px;
		gap: 10px;
		margin-bottom: 35px;
	}

	&_label {
		font-family: 'Georama', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #0b0b0b;
	}

	&_input {
		border: 1.5px solid #9d9d9d;
		padding: 14px 0px 14px 20px;

		input {
			font-family: 'Georama', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #9d9d9d;
			width: 95%;
			border: none;
			outline: none;
			position: relative;
		}

		input:-webkit-autofill {
			background-color: transparent;
		}
	}
	&_phoneInput {
		font-family: 'Georama', sans-serif !important;
		font-style: normal !important;
		font-weight: 400 !important;
		font-size: 18px !important;
		line-height: 22px !important;
		color: #9d9d9d !important;
		width: 95%;
		border: none !important;
		outline: none !important;
		position: relative;
		height: auto !important;
		padding-left: 30px !important;
	}
	&_dropdown {
		border-radius: 0px !important;
		left: 0 !important;
	}
	&_detail {
		display: flex;
		justify-content: space-between;

		&_link {
			font-family: 'Georama', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #0b0b0b;
		}
	}

	&_checkbox {
		display: flex;
		align-items: center;
		gap: 5px;

		span {
			font-family: inherit;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #9d9d9d;
		}

		input {
			height: 50px;
			width: 30px;
			height: 30px;
			border: 1.5px solid #0b0b0b;
			cursor: pointer;

			&::placeholder {
				background-color: transparent;
			}
		}
	}

	&_btn {
		display: block;
		background: #0b0b0b;
		color: #ffff;
		padding: 16px 0;
		text-align: center;
		margin: 50px 0px 15px;
		width: 100%;
		&:disabled {
			opacity: 0.2;
		}
	}

	&_error {
		font-family: inherit;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #e73232;
	}

	&_link {
		font-family: 'Georama', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #9d9d9d;

		span {
			color: #0b0b0b;
		}
	}

	&_privacy {
		font-family: 'Neue Haas Grotesk Display Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		color: #9d9d9d;
		display: flex;
		align-items: center;
		gap: 8px;

		&_link {
			font-family: 'Georama', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #0b0b0b;
		}
	}
}

.register_form {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mgbt {
	margin-bottom: 45px;
}

.wdth {
	width: 390px;
}

.react-tel-input div.flag-dropdown {
	left: 0 !important;
	border-radius: 0px !important;
}
