.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  padding: 0 32px;
  margin: 0 auto;

  @media (max-width: 428px) {
    padding: 0 24px;
  }
}

.content {
  margin: 104px 0px 30px;
}

.page_coordinator {
  font-family: "Georama", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s ease;

  margin-bottom: 40px;
  overflow-x: auto;

  @media (max-width: 1200px) {
    margin-bottom: 50px;
  }

  @media (max-width: 428px) {
    margin-bottom: 48px;
  }

  a {
    color: #9d9d9d;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      transition: all 0.2s ease;
      color: #0b0b0b;
      cursor: pointer;
    }
  }
}

.error_input {
  border-color: #e73232;
  transition: all 0.2s ease;
}

.auth {
  &_block {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &_title {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
    color: #0b0b0b;
  }

  &_form {
    font-family: "Georama", sans-serif;
    display: flex;
    flex-direction: column;
    width: 390px;

    @media (max-width: 428px) {
      width: 100%;
    }
  }

  &_field {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    min-width: 350px;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: 428px) {
      min-width: 100%;
    }
  }
  &_hidden-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease;
    }
  }
  &_label {
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0b0b0b;
    margin-bottom: 10px;

    @media (max-width: 428px) {
      font-size: 18px;
    }
  }

  &_input {
    width: 100%;
    position: relative;
    input {
      font-family: "Georama", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      width: 100%;
      border: none;
      padding: 14px 0px 14px 20px;
      color: #0b0b0b;
      outline: none;
      background: transparent !important;
      border: 2px solid #9d9d9d;
      transition: all 0.2s ease;

      @media (max-width: 428px) {
        font-size: 16px;
      }

      &::placeholder {
        transition: all 0.2s ease;
        color: #9d9d9d;
      }

      &:focus {
        border-color: #0b0b0b;
        transition: all 0.2s ease;
      }
    }

    input:-webkit-autofill {
      background-color: transparent;
    }
  }

  &_phoneInput {
    font-family: "Georama", sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #9d9d9d !important;
    width: 95%;
    border: none !important;
    outline: none !important;
    position: relative;
    height: auto !important;
    padding-left: 30px !important;
  }

  &_dropdown {
    border-radius: 0px !important;
    left: 0 !important;
  }
  &_more {
    font-size: 18px;

    @media (max-width: 800px) {
      text-align: center;
    }
  }
  &_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_link {
      font-family: "Georama", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #0b0b0b;
      transition: all 0.2s ease;
    }

    @media (max-width: 428px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &_checkbox {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #9d9d9d;
    }

    input {
      height: 50px;
      width: 30px;
      height: 30px;
      border: 1.5px solid #0b0b0b;
      cursor: pointer;

      &::placeholder {
        background-color: transparent;
      }
    }
  }

  &_btn {
    position: relative;
    display: block;
    background: #0b0b0b;
    color: #ffff;
    padding: 16px 0;
    border: none;
    text-align: center;
    margin: 50px 0px 15px;
    width: 100%;
    font-size: 20px;
    transition: all 0.2s ease;

    &:after {
      transition: all 0.2s ease;
      opacity: 0;
      pointer-events: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &:hover {
      transition: all 0.2s ease;

      &:after {
        transition: all 0.2s ease;
        opacity: 1;
        pointer-events: visible;
        background: rgba(#fff, 0.2);
      }
    }

    &:disabled {
      opacity: 0.2;

      &:hover {
        pointer-events: none;
        cursor: default;
        opacity: 0.2;

        &:after {
          background: rgba(#fff, 0);
        }
      }
    }
  }

  &_error {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #e73232;
    margin-top: 10px;
  }

  &_link {
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #9d9d9d;

    span {
      color: #0b0b0b;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
        transition: all 0.2s ease;
      }
    }
  }

  &_privacy {
    font-family: "Neue Haas Grotesk Display Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #9d9d9d;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 20px;

    &_link {
      font-family: "Georama", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #9d9d9d;
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
  }
}

.register_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px !important;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & .auth_field {
    margin: 0;
  }
}

.reg_block {
  align-items: flex-start !important;
}

.forgot_block {
}

.reg_form {
  width: 100%;

  & .auth_btn {
    width: 390px;

    @media (max-width: 1200px) {
      width: 100% !important;
    }
  }
}

.forgot_form {
  justify-content: space-between;
  height: 500px;

  @media (max-width: 800px) {
    height: 150px;
  }
}

.mgbt {
  margin-bottom: 45px;
}

.wdth {
  width: 390px;
}

@media (max-width: 1300px) {
  .wdth {
    width: 290px;
  }

  .register_form {
    gap: 3%;
  }
}

@media (max-width: 1159px) {
  .register_form {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .auth_field {
    // width: 300px;
    width: 100%;
  }

  .auth_image {
    display: none;
  }

  .register_form {
    justify-content: center;
  }

  .none {
    display: none;
  }

  .auth_detail_link {
    margin-top: 5px;
  }

  .auth_btn {
    // width: 350px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  // .auth_block {
  // 	justify-content: center;
  // }

  .auth_image {
    display: none;
  }

  .auth_field {
    // width: 300px;
    width: 100%;
  }

  .auth_detail_link {
    @media (max-width: 428px) {
      margin-top: 15px;
    }
  }
}

@media (max-width: 360px) {
  .register_form {
    max-width: 100%;
  }
  .auth_field {
    min-width: 300px;

    @media (max-width: 428px) {
      min-width: 100%;
    }
  }
}

@media (max-width: 330px) {
  .register_form {
    max-width: 100%;
  }
  .w-100 {
    max-width: 100% !important;
  }
  .w-93 {
    max-width: 100% !important;
  }
}

@media (max-width: 800px) {
  .j-center {
    justify-content: center !important;
  }
}

.react-tel-input div.flag-dropdown {
  left: 0 !important;
  border-radius: 0px !important;
  border: none !important;
  border: 2px solid #9d9d9d !important;
  width: 50px !important;
  border-right: none !important;
  background: none !important;
  transition: all 0.2s ease !important;
}

.react-tel-input .selected-flag {
  width: 50px !important;
  border-right: 2px solid #9d9d9d !important;
  background: none !important;
  transition: all 0.2s ease !important;
}

.react-tel-input .form-control {
  padding-left: 70px !important;
  border: 2px solid #9d9d9d !important;
  border-radius: 0 !important;
  color: #0b0b0b !important;
  transition: all 0.2s ease !important;
  width: 100% !important;

  &:focus {
    & ~ .flag-dropdown .selected-flag,
    & ~ .flag-dropdown {
      border-right-color: #0b0b0b !important;
      border-color: #0b0b0b !important;
      transition: all 0.2s ease;
    }

    border-color: #0b0b0b !important;
  }
}

.react-tel-input .country-list .country {
  background-color: #f1f1f1 !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #fff !important;
}

/* ---- Scroll ---- */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0b0b0b;
}

/* ---- Selection ---- */
::selection {
  color: #fff;
  text-shadow: none;
  background: rgba(#0b0b0b, 0.7);
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: rgba(#0b0b0b, 0.7);
}

.sticky_image {
  position: fixed;
  top: 120px;
  left: 89.5px;
  z-index: 3;
}

.sticky_form {
  margin-left: 390px;

  @media (max-width: 800px) {
    margin-left: 0;
  }
}

.checkbox {
  display: flex;
  align-items: center;

  &[data-checked="true"] {
    & .checkbox__icon {
      background: url("../assets/icons/checkbox-active.svg") no-repeat center
        top / cover !important;
      transition: all 0.2s ease;
    }
  }
}

.checkbox__icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../assets/icons/checkbox.svg") no-repeat center top / cover;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
    transition: all 0.2s ease;
  }

  @media (max-width: 945px) {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 825px) {
    width: 35px;
    height: 24px;
  }

  @media (max-width: 800px) {
    width: 32px;
    height: 32px;
  }

  @media (max-width: 500px) {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 400px) {
    width: 30px;
    height: 25px;
  }

  @media (max-width: 350px) {
    width: 30px;
    height: 22px;
  }

  @media (hover: none) {
    opacity: 1 !important;
  }
}

.checkbox__text {
  font-family: "Georama", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #9d9d9d;
  margin-left: 10px;

  @media (max-width: 945px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.checkbox__link {
  color: #0b0b0b;
}

.privacy_checkbox {
  margin-top: 20px;
}
