.header {
	position: absolute;
	@media (max-width: 840px) {
		position: fixed;
	}
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f2f2f0;
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
	}
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}
	&__menu {
		@media (max-width: 840px) {
			position: fixed;
			left: -300%;
			top: 0;
			transition: left 0.4s linear;
		}
		&_languages {
			display: none;
			flex-wrap: wrap;
			@media (max-width: 840px) {
				display: flex;
			}
			li {
				display: none;
				min-width: 208px;
				padding: 16px 20px;
				font-family: 'Georama', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				background-color: #ecece8;
				color: #9d9d9d;
				min-width: 100px;
				border-bottom: 1.5px solid #9d9d9d;
				border-right: 1.5px solid #9d9d9d;

				@media (max-width: 840px) {
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1 1 25%;
				}
				@media (max-width: 460px) {
					flex: 1 1 50%;
				}
			}
			li:hover {
				background-color: #0b0b0b;
				color: #fff;
				transition: background-color 0.4s linear;
			}
		}

		&_open {
			@media (max-width: 840px) {
				position: fixed;
				overflow: auto;
				top: 80px;
				left: 0;
				width: 100%;
				// height: 350px;
				background: #ecece8;
				transition: left 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
			}
		}
	}
	&__list {
		display: flex;
		li:not(:first-child) {
			list-style: none;
			margin: 0px 0px 0px 20px;
			&:first-child {
				margin: 0;
			}

			@media (max-width: 900px) {
				margin: 0px 0px 0px 10px;
			}
			@media (max-width: 840px) {
				margin: 0;
				padding: 16px 0px 16px 24px;
				border-bottom: 1.5px solid #9d9d9d;
				position: relative;
				&::after {
					position: absolute;
					content: url('../../assets/icons/headerArrow.svg');
					right: 4%;
				}
				&:hover {
					border: none;
					background-color: #0b0b0b;
					&::after {
						content: url('../../assets/icons/CaretDownWhite.svg');
					}
					a {
						color: #fff;
					}
				}
			}
		}
		&_account {
			display: none;
			padding: 16px 0px 16px 24px;
			border-bottom: 1.5px solid #9d9d9d;
			position: relative;
			&::before {
				position: absolute;
				content: url('../../assets/icons/User_gray.svg');
				left: 6%;
				top: 60%;
				transform: translateY(-50%);
				margin-right: 10px;
				padding-right: 10px;
			}
			&:hover {
				border: none;
				background-color: #0b0b0b;
				a {
					color: #fff;
				}
			}
			@media (max-width: 400px) {
				display: block;
			}
		}
		&_link {
			font-family: 'Georama', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: #9d9d9d;
			padding-left: 40px;
		}
		@media (max-width: 840px) {
			flex-direction: column;
		}
	}
	&__link {
		font-family: 'Georama', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #9d9d9d;
		@media (max-width: 1030px) {
			font-size: 18px;
		}
	}
	&__logo {
		font-family: 'Russo One', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #0b0b0b;
		@media (max-width: 1000px) {
			font-size: 18px;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 30px;
		&_accountSVG {
			@media (max-width: 400px) {
				display: none;
			}
		}
		@media (max-width: 1000px) {
			gap: 10px;
		}
		@media (max-width: 834px) {
			gap: 25px;
		}
		@media (max-width: 400px) {
			gap: 10px;
		}
	}
	&__burger {
		display: none;
		@media (max-width: 840px) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 20;

			&:before,
			&:after {
				content: '';
				background-color: #0b0b0b;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				border: 1.5px solid #0b0b0b;
			}
			&::after {
				top: 0;
			}
			&::before {
				bottom: 0;
			}
			span {
				position: absolute;
				left: 0;
				background-color: #0b0b0b;
				width: 100%;
				height: 2px;
				top: 9px;
				border: 1.5px solid #0b0b0b;
			}
		}
	}
	&__language {
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		// background: #f2f2f0;
		// border: 1.5px solid #9d9d9d;
		// padding: 5px;
		// padding: 14px 20px 14px 20px;
		span {
			display: inline-block;
			font-family: 'Georama', sans-serif;
			font-style: normal;
			margin-right: 5px;
			font-size: 18px;
			font-weight: 500;
			line-height: 22px;
			color: #0b0b0b;
		}
		&_dropdown {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: 100%;
			left: 5%;
		}
		@media (max-width: 428px) {
			display: none;
		}
	}
}
